.color {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 8px;

  &__body {
    cursor: pointer;
    height: 20px;
    width: 20px;

  }

  &--active {
    border: 1px solid #9def5a;
    pointer-events: none;
  }

}